<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CallDirectoryExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MessageFilterExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>callblocker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC1F23052178AF6B008AB54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1F23192178AF6C008AB54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1F233E2178C7C5008AB54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1F234D2178C802008AB54C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
